[Unit]
Description=Chassi Secret Service
Before=pokemon.service
After=network-online.target
Wants=network-online.target

[Service]
User=ubuntu
Type=oneshot
Environment=AWS_REGION=us-west-2
ExecStart=/usr/local/bin/gomplate -d secrets="aws+sm:" --input-dir /opt/examples/templates --output-dir /opt/examples/config
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target